
  
  {% extends 'main.html' %}
  {% block content %}
  
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- This part prints all the topics that have been created so far. -->
      {% include 'base/topics_components.html' %}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
             <!-- 
              Since I passed "user" as a dictionary inside the render() of userprofile() , 
              I have access to that particular user model's columns inside this html page. 
             -->
            <h3>{{user.username}}</h3>
            <p>@{{user.username}}</p>
        
            <!-- Only the owner of the room can Edit the profile -->
            {% if request.user == user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              <!-- 
                I have access to user's bio since I passed "user" inside the render() 
                of userprofile() 
              -->
              {{user.bio}}
      
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by {{user.username}} </a>
            </h2>
          </div>
        </div>
         <!-- This prints all the feeds component created by that particular user. -->
        {% include 'base/feed_component.html' %}
      </div>
      <!-- Room List End -->

      <!-- This prints all the Recent activities  -->
      {% include 'base/activity_component.html' %}
      <!-- Activities End -->
    </div>
  </main>
{% endblock content %}
